Checks: "-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,readability-*"
CheckOptions:
  - key: cppcoreguidelines-macro-usage.CheckCapsOnly
    value: true
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: true
  - key: hicpp-special-member-functions.AllowMissingMoveFunctions
    value: true
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value: true
  - key: hicpp-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted,
    value: true
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3
